### lists, sets, dictionaries

#### ques: fizzbuzz

In [38]:
# fizzbuzz
for i in range(1,20):
    if i%3 == 0 and i%5 == 0:
        print("FizzBuzz")
        
    elif i%3 == 0:
        print("Fizz")
        
    elif i%5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19

#### ques: factorial

In [16]:
# factorial
n = 5
fact = 1
for i in range(1,n+1):
    fact=fact*i
print(fact)

120

#### ques: remove duplicates from python list

In [42]:
# remove duplicates from python list
test_list = [1, 5, 3, 6, 3, 5, 6, 1] 
  
# method 1
# using set() 
# to remove duplicated  
# from list  
### solution ###test_list = list(set(test_list)) 

# method 2
res = [] 
for i in test_list: 
    if i not in res: 
        res.append(i)
print(res)

[1, 5, 3, 6]

#### ques:  count the occurance

In [49]:
# count the occurance
from collections import Counter
import pandas as pd

mylist = [1, 3, 2, 1, 5, 3, 5, 1, 4]
mylist1=Counter(mylist)
print(mylist1)

Counter({1: 3, 3: 2, 5: 2, 2: 1, 4: 1})

#### ques: palindrome check

In [57]:
# palindrome check
mystr = "malayalam"

if(mystr == mystr[::-1]): # -1 is the offset
    print("palindrome")
else:
    print("not palindrome")

palindrome

#### ques: distinct IDs

In [59]:
# distinct IDs 
ids = ['id','in','in','in','in','pl','pl']

ids1 = Counter(ids)
print(ids1)

Counter({'in': 4, 'pl': 2, 'id': 1})

#### Python (pandas) practice questions

#### ques: How to convert the index of a series into a column of a dataframe?

In [62]:
# ques: How to convert the index of a series into a column of a dataframe?

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
print(ser[:5])

a    0
b    1
c    2
d    4
e    3
dtype: int64

In [70]:
#ser

In [67]:
# solution 1 using DataFrame
# ser_df = pd.DataFrame(ser)
# ser_df.reset_index()

# using pandas to_frame()
ser_df = ser.to_frame().reset_index().rename(columns={'index':'A',0:'B'})
ser_df.head()

   A  B
0  a  0
1  b  1
2  c  2
3  d  4
4  e  3

#### ques: How to combine many series to form a dataframe?

In [72]:
# ques: How to combine many series to form a dataframe?

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [82]:
# using pandas DataFrame
ser_df = pd.DataFrame(ser1, ser2).reset_index()
ser_df.head()

   index  0
0      0  a
1      1  b
2      2  c
3      3  e
4      4  d

In [80]:
# using pandas DataFrame with a dictionary, gives a specific name to the column
ser_df = pd.DataFrame({"col1":ser1, "col2":ser2})
ser_df.head(5)

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [81]:
# using pandas concat
ser_df = pd.concat([ser1, ser2], axis = 1)
ser_df.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

#### ques: How to get the items of series A not present in series B?

In [83]:
# ques: How to get the items of series A not present in series B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [84]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

#### ques: How to get the items not common to both series A and series B?

In [85]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [88]:
# using pandas
a_not_b = ser1[~ser1.isin(ser2)]
b_not_a = ser2[~ser2.isin(ser1)]
                          
a_not_b.append(b_not_a, ignore_index = True)

0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

In [90]:
# using numpy union and intersection
ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

#### ques: How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [95]:
# input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25)) # mean, std, # of obs

In [99]:
# using pandas
ser.describe()

count    25.000000
mean     10.435437
std       4.253118
min       1.251173
25%       7.709865
50%      10.922593
75%      13.363604
max      18.094908
dtype: float64

In [100]:
# or using numpy
np.percentile(ser, q = [0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

#### ques: How to get frequency counts of unique items of a series?

In [103]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30))) # take list a-h and repeat these 8 characters 30 
                                                                          # times in random sequence. Take (array,indices)
#ser.head()

0    e
1    e
2    c
3    b
4    e
dtype: object

In [105]:
ser.value_counts()

b    7
c    6
e    4
g    4
a    3
f    3
d    2
h    1
dtype: int64

#### ques: How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [122]:
# ques: How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     3
1     3
2     1
3     1
4     3
5     3
6     2
7     4
8     1
9     1
10    4
11    2
dtype: int32

In [124]:
ser.value_counts()
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

0         3
1         3
2         1
3         1
4         3
5         3
6     Other
7     Other
8         1
9         1
10    Other
11    Other
dtype: object

In [123]:
ser.value_counts()
#ser.value_counts().index[:2]

3    4
1    4
4    2
2    2
dtype: int64

#### ques: How to bin a numeric series to 10 groups of equal size?

In [125]:
ser = pd.Series(np.random.random(20))
ser

0     0.797106
1     0.502815
2     0.893257
3     0.357967
4     0.021112
5     0.228945
6     0.134473
7     0.884912
8     0.457727
9     0.246036
10    0.721902
11    0.310897
12    0.452285
13    0.196083
14    0.169537
15    0.259429
16    0.769480
17    0.356998
18    0.687208
19    0.549146
dtype: float64

In [127]:
pd.qcut(ser, q = 10)

0      (0.731, 0.806]
1      (0.476, 0.591]
2      (0.806, 0.893]
3      (0.339, 0.405]
4     (0.0201, 0.166]
5      (0.222, 0.255]
6     (0.0201, 0.166]
7      (0.806, 0.893]
8      (0.405, 0.476]
9      (0.222, 0.255]
10     (0.591, 0.731]
11     (0.255, 0.339]
12     (0.405, 0.476]
13     (0.166, 0.222]
14     (0.166, 0.222]
15     (0.255, 0.339]
16     (0.731, 0.806]
17     (0.339, 0.405]
18     (0.591, 0.731]
19     (0.476, 0.591]
dtype: category
Categories (10, interval[float64]): [(0.0201, 0.166] < (0.166, 0.222] < (0.222, 0.255] < (0.255, 0.339] ... (0.476, 0.591] < (0.591, 0.731] < (0.731, 0.806] < (0.806, 0.893]]

In [128]:
# we can also pass labels
pd.qcut(ser, q = [0, .10, .20, .30, .40, .50, .60, .70, .80, .90, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0     9th
1     7th
2    10th
3     5th
4     1st
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

#### ques:  How to find the positions of numbers that are multiples of 3 from a series?

In [132]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, 10))
ser

0    3
1    2
2    2
3    1
4    1
5    3
6    3
7    4
8    1
9    1
dtype: int32

In [133]:
# using the where clause
ser.where(lambda x: x%3 == 0).dropna()

0    3.0
5    3.0
6    3.0
dtype: float64

In [131]:
# using numpy and reshape to get a pandas series
#pd.Series(np.argwhere(ser%3 == 0).reshape(4))
np.argwhere(ser%3 == 0)

array([[8]], dtype=int64)

#### ques: How to extract items at given positions from a series

In [134]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [135]:
# using loc
ser.loc[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [136]:
# using series take
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

#### ques: How to stack two series vertically and horizontally ?

In [138]:
# ques: How to stack two series vertically and horizontally ?

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [140]:
# vertical
ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [141]:
# or using pandas concat and axis = 0
pd.concat([ser1, ser2], axis = 0)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [142]:
# horizontal
pd.concat([ser1, ser2], axis = 1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

#### ques: How to get the positions of items of series A in another series B?

In [143]:
# ques: How to get the positions of items of series A in another series B?
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [144]:
# using numpy where
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [145]:
# using pandas Index and get location
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

#### ques: How to convert the first character of each element in a series to uppercase?

In [146]:
ser = pd.Series(['just', 'a', 'random', 'list'])
ser

0      just
1         a
2    random
3      list
dtype: object

In [149]:
ser.map(lambda x: x[0].upper() + x[1:])

0      Just
1         A
2    Random
3      List
dtype: object

In [150]:
# using lambda
ser.map(lambda x: x.title())

0      Just
1         A
2    Random
3      List
dtype: object

#### ques: How to calculate the number of characters in each word in a series?

In [151]:
ser = pd.Series(['just', 'a', 'random', 'list'])

In [152]:
# using list comprehension
[len(i) for i in ser]

[4, 1, 6, 4]

In [153]:
# using series map
ser.map(len)

0    4
1    1
2    6
3    4
dtype: int64

In [154]:
# using series apply
ser.apply(len)

0    4
1    1
2    6
3    4
dtype: int64

#### ques: How to filter words that contain atleast 2 vowels from a series?

In [159]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

In [167]:
vow = ['a','e','i','o','u']
lst = []
for w in ser:
    c = 0
    for l in list(w.lower()):
        if l in vow:
            c = c + 1
    if c>=2:
        print(w)
        lst.append(w)
print(lst)
ser[ser.isin(lst)]

Apple
Orange
Money
['Apple', 'Orange', 'Money']

0     Apple
1    Orange
4     Money
dtype: object

#### ques:  How to filter valid emails from a series?

In [168]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

In [170]:
# using powerful regex
import re
re_pat = re.compile(pattern)
emails[emails.str.contains(pat = re_pat, regex = True)]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [172]:
# other solutions
emails.str.findall(pattern, flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

#### ques: How to compute the euclidean distance between two series?

In [173]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [175]:
# using list comprehension
suma = np.sqrt(np.sum([(p - q)**2 for p, q in zip(p, q)]))
suma

18.16590212458495

In [174]:
# using series one to one operation
sum((p - q)**2)**.5

18.16590212458495

#### ques: How to replace missing spaces in a string with the least frequent character?

In [176]:
my_str = 'dbc deb abed ggade'

In [183]:
# approach 1 using counter
my_str1 = my_str 
Counter1 = Counter(list(my_str1.replace(" ", "")))
Counter1

minimum = min(Counter1, key = Counter1.get)
print(my_str.replace(" ", minimum))

dbccdebcabedcggade

In [199]:
# approach 2 using pandas
ser = pd.Series(list(my_str.replace(" ", "")))
ser.value_counts()

minimum = list(ser.value_counts().index)[-1]
minimum
print(my_str.replace(" ", minimum))

dbccdebcabedcggade

#### ques: Create and understand dictionary (Accessing Key-value in Dictionary)

In [228]:
# initializing dictionary 
test_dict = {"Geeks" : [1,2,3] , "for" : {4,22}, "geeks" : 3} 
  
# Printing dictionary 
print ("Original dictionary is : " + str(test_dict))

Original dictionary is : {'Geeks': [1, 2, 3], 'for': {4, 22}, 'geeks': 3}

In [243]:
# using in operator to 
# get key and value 
print ("Dict key-value are : ") 
for i in test_dict : 
    x = test_dict[i]
    print(i, test_dict[i])
    #print(type(x))
    if type(x) == list:
        print("x = {} is of type list. First element is {}.".format(x,x[0]))

Dict key-value are :
Geeks [1, 2, 3]
x = [1, 2, 3] is of type list. First element is 1.
for {4, 22}
geeks 3

#### ques: Print element and index together

In [244]:
l = [1,2,34,12,5,78]
for i, element in enumerate(l):
    print(i," ",element)

0   1
1   2
2   34
3   12
4   5
5   78

In [205]:
# using list comprehension to 
# get key and value 
print ("Dict key-value are : ") 
print([(k, test_dict[k]) for k in test_dict])

Dict key-value are :
[('Geeks', 1), ('for', 2), ('geeks', 3)]

In [206]:
# using dict.items() to 
# get key and value 
print ("Dict key-value are : ") 
for key, value in test_dict.items(): 
    print (key, value)

Dict key-value are :
Geeks 1
for 2
geeks 3

#### ques: Create and understand tuple

In [ ]:
# immutable
# Tuples store a fixed set of elements and don’t allow changes whereas the list has the provision to update its content.
# The list uses square brackets for opening and closing whereas, and a tuple has got parentheses for the enclosure.

In [207]:
vowel_tuple = ('a','e','i','o','u')
print("The tuple:", vowel_tuple, "Length:", len(vowel_tuple))

The tuple: ('a', 'e', 'i', 'o', 'u') Length: 5

In [208]:
# Indexing the first element
print("OP(vowel_tuple[0]):", vowel_tuple[0])

OP(vowel_tuple[0]): a

In [209]:
# Indexing the last element
print("OP(vowel_tuple[length-1]):", vowel_tuple[len(vowel_tuple) - 1])

OP(vowel_tuple[length-1]): u

In [212]:
# Indexing a non-existent member
# will raise the IndexError
try:
    print(vowel_tuple[len(vowel_tuple)+1])
except Exception as ex:
    print("OP(vowel_tuple[length+1]) Error:", ex)

OP(vowel_tuple[length+1]) Error: tuple index out of range

In [213]:
# Indexing with a non-integer index
# will raise the TypeError
try:
    print(vowel_tuple[0.0])
except Exception as ex:
    print("OP(vowel_tuple[0.0]) Error:", ex)

OP(vowel_tuple[0.0]) Error: tuple indices must be integers or slices, not float

In [214]:
# Indexing in a tuple of tuples
t_o_t = (('jan', 'feb', 'mar'), ('sun', 'mon', 'wed'))
# Accessing elements from the first sub tuple
print("OP(t_o_t[0][2]):", t_o_t[0][2])

OP(t_o_t[0][2]): mar

In [215]:
# Accessing elements from the second sub tuple
print("OP(t_o_t[1][2]):", t_o_t[1][2])

OP(t_o_t[1][2]): wed

#### ques: understand set and sorting order

In [226]:
set([45,67,23,62,55,45,71,34])

{23, 34, 45, 55, 62, 67, 71}

In [227]:
a = [[111, 131, 26],[12, 113, 21],[100, 311, 42]]
x = sorted(a, key = lambda x:x[2]) # sort by 3 element in the list. By default it is by the order of first element
print(x)

[[12, 113, 21], [111, 131, 26], [100, 311, 42]]

In [247]:
5/2 
5//2 #quotient
1/2

0.5

#### ques: Write a function that prints words with repeating characters from list of words

In [251]:
check_string = "i am checking this string to see how many times each character appears"
word_list = check_string.split()
word_list
# type(word_list)

# word_list1 = ["the","ball","is","on","the","topp"]

['i',
 'am',
 'checking',
 'this',
 'string',
 'to',
 'see',
 'how',
 'many',
 'times',
 'each',
 'character',
 'appears']

In [263]:
# new_dict = {}
word_list = ['billy','bool']

for word in word_list:
    for char in word:
        count = word.count(char)
        if count > 1:
            print(word)

TypeError: 'int' object is not iterable

In [281]:
word_list = [",", 'billlly','bool',"tiiina"]

word_lst = []

for word in word_list:
    count_dict = {}
    for char in word:
        if char in count_dict:
            #count_dict[char] += 1
            #if count_dict[char]>=2:
            word_lst.append(word) 
            break
        else:
            count_dict[char] = 1
        #print(count_dict)
print(word_lst)

['billlly', 'bool', 'tiiina']

In [284]:
words = word_list

from collections import Counter
words_with_repeated_char = []
for word in words:
    # c = Counter(word)
    #if any([v for v in c.values() if v > 1]):
    if len(set(word)) < len(word):
        words_with_repeated_char.append(word)
print(words_with_repeated_char)

['billlly', 'bool', 'tiiina']

Inspiration 1: https://www.kaggle.com/python10pm/pandas-75-exercises-with-solutions
Inspiration 2: https://hackernoon.com/technical-data-science-interview-questions-sql-and-coding-jv1k32bf        

Thank you for reading!